<div [@routerTransition]>
  <app-page-header [heading]="'Cadastro de Item'" [icon]="'fa-edit'"></app-page-header>

  
<div class="row align-items-center" *ngIf="item">
  <div class="col-lg-12">
    <div class="card">        
      <div class="card-body">
        <form class="form-horizontal" (submit)="onFormSubmit($event)">
          <div class="form-group">
            <div class="row align-items-end">
              <div class="col-lg-4">
                <label class="col-form-label" for="appendedInput">SKU</label>
                <div class="controls">
                    <dx-text-box name="nrSKU" [(value)]="item.nrSKU" [maxLength]="25" [readOnly]="isReadOnly">
                      <dx-validator>
                          <dxi-validation-rule type="required" message="Campo obrigatório"></dxi-validation-rule>
                      </dx-validator>
                    </dx-text-box>
                </div>
              </div>
              <div class="col-lg-4">
                <dx-button 
                          id="button"
                          text="Anexos" 
                          class="btn btn-warning" (click)="abrirFecharAnexos()">
                </dx-button> 
              </div>                      
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <label class="col-form-label" for="appendedInput">Cód. NCM</label>
                    <div class="controls">
                        <dx-text-box name="cdNCM" [maxLength]="8" [width]="90" (onValueChanged)="updateNcmInfo($event)" [(value)]="item.cdNCM" [readOnly]="isReadOnly">
                          <dx-validator>
                            <dxi-validation-rule type="required" message="Campo obrigatório"></dxi-validation-rule>                            
                          </dx-validator>
                        </dx-text-box>
                    </div>                    
                </div>
                <div class="col-lg-6">
                    <label class="col-form-label" for="appendedInput">Descrição NCM</label>
                    <div class="controls">
                        <dx-text-box name="dsNCM" [readOnly]="true" [(value)]="item.dsNCM" [readOnly]="true"></dx-text-box>
                    </div>                    
                </div>        
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label class="col-form-label" for="appendedInput">Descrição curta</label>
                <div class="controls">
                  <dx-text-area
                    [height]="90"
                    name="dsCurta" [(value)]="item.dsCurta" maxlength="3000" [readOnly]="isReadOnly">
                  </dx-text-area>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label class="col-form-label" for="appendedInput">Descrição completa</label>
                <div class="controls">
                  <dx-text-area
                    [height]="90"
                    name="dsCompleta" [(value)]="item.dsCompleta" maxlength="6000" [readOnly]="isReadOnly">
                  </dx-text-area>
                </div>
              </div>
            </div>                 
          </div>
          <div class="row" *ngIf="isItemFinalizado">
            <div class="col-lg-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Escopo de Análise</legend>
                    <div class="control-group">
                      <div class="row">
                        <div class="col-sm-2 text-align-right"><label class="col-form-label">PDM</label></div>
                        <div class="col-sm-10">
                          <dx-text-area [height]="90" name="dsPDM" [(value)]="elaboracao.dsPDM" maxlength="500" [readOnly]="true">
                          </dx-text-area>
                        </div>                                
                      </div>
                      <div class="row">
                          <div class="col-sm-2">
                            <Br>NVE<Br>
                          </div>                                
                      </div>
                      <div class="row" *ngIf="utuilizaEscopoNVE">                        
                        <div class="col-sm-12">
                          <dx-data-grid [dataSource]="listaNve"
                            height="400"
                            showBorders="true"
                            [rowAlternationEnabled]="true"
                            [repaintChangesOnly]="true"
                            noDataText="Nehum registro">
                            <dxo-pager [showPageSizeSelector]="true"
                                      [allowedPageSizes]="[20, 50, 100]"></dxo-pager>
                            <dxo-paging [enabled]="true" [pageSize]="20"></dxo-paging>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                            <dxo-search-panel [visible]="false" placeholder="Busca..."></dxo-search-panel>                                
                            <dxi-column dataField="dsNivel" caption="Nível" allowSorting="true"></dxi-column>
                            <dxi-column dataField="dsAtributo" caption="Atributo" allowSorting="true"></dxi-column>
                            <dxi-column dataField="dsEspecificacao" caption="Especificação" allowSorting="true"></dxi-column>                            
                          </dx-data-grid>                              
                        </div>                                
                      </div>                      
                      <div class="row" *ngIf="utuilizaEscopoExTarifario">
                          <div class="col-sm-2">
                            <Br>Ex Tarifário<Br>
                        </div>                                
                      </div>
                      <div class="row" *ngIf="utuilizaEscopoExTarifario">
                        <div class="col-sm-12">
                          <dx-data-grid [dataSource]="listaExTarif"
                            height="400"
                            showBorders="true"
                            [rowAlternationEnabled]="true"
                            [repaintChangesOnly]="true"
                            noDataText="Nehum registro">
                            <dxo-pager [showPageSizeSelector]="true"
                                      [allowedPageSizes]="[20, 50, 100]"></dxo-pager>
                            <dxo-paging [enabled]="true" [pageSize]="20"></dxo-paging>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                            <dxo-search-panel [visible]="false" placeholder="Busca..."></dxo-search-panel>
                            <dxi-column dataField="dsTipo" caption="Tipo" allowSorting="true"></dxi-column>
                            <dxi-column dataField="cdEx" caption="Cód. EX" allowSorting="true"></dxi-column>
                            <dxi-column dataField="dsDescricao" caption="Descriçãop" allowSorting="true"></dxi-column>                            
                          </dx-data-grid>
                        </div>                                
                      </div>
                      <div class="row" *ngIf="utuilizaEscopoTratamentoAdministrativo">
                        <div class="col-sm-2">
                          <Br>Tratamento Administrativo<Br>
                        </div>                                
                      </div>
                      <div class="row" *ngIf="utuilizaEscopoTratamentoAdministrativo">
                        <div class="col-sm-12">
                          <dx-data-grid [dataSource]="listaTratAdm"
                            height="400"
                            showBorders="true"
                            [rowAlternationEnabled]="true"
                            [repaintChangesOnly]="true"
                            noDataText="Nehum registro">
                            <dxo-pager [showPageSizeSelector]="true"
                                      [allowedPageSizes]="[20, 50, 100]"></dxo-pager>
                            <dxo-paging [enabled]="true" [pageSize]="20"></dxo-paging>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                            <dxo-search-panel [visible]="false" placeholder="Busca..."></dxo-search-panel>                                
                            <dxi-column dataField="dsTipo" caption="Tipo" allowSorting="true"></dxi-column>
                            <dxi-column dataField="dsOrgao" caption="Orgão" allowSorting="true"></dxi-column>
                            <dxi-column dataField="dsFinalidade" caption="Finalidade" allowSorting="true"></dxi-column>
                            <dxi-column dataField="dsTratamento" caption="Tratamento" allowSorting="true"></dxi-column>
                            <dxi-column dataField="dsDestaque" caption="Dest" allowSorting="true"></dxi-column>
                            <dxi-column dataField="dsDsDescDestaque" caption="Destaque" allowSorting="true"></dxi-column>
                          </dx-data-grid>
                        </div>                                
                      </div>
                    </div>
                </fieldset>
            </div>
        
        </div> 
          <div class="form-actions">
              <div class="row">
                  <div class="col-lg-12">
                      <Br>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <dx-button *ngIf="!isReadOnly"
                          id="button"
                          text="Salvar" 
                          [useSubmitBehavior]="true" class="btn btn-warning" [visible]="!somenteLeitura">
                      </dx-button> 
                      &nbsp;&nbsp;
                      <dx-button 
                          id="button"
                          text="Cancelar" 
                          class="btn btn-secondary" (click)="voltar()">
                      </dx-button> 
                  </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div> <!--/.col-->
</div>

</div>

<dx-popup
    title="Sucesso"
    [(visible)]="isPopupVisible" (onHidden)="popup_hidden($event)" [maxHeight]="200" [maxWidth]="400">
    <div class="centralizado">
        <p class="msgSucesso">Salvo com sucesso!</p>
        <dx-button
        text="OK"
        (onClick)="fecharSucesso()" class="btn btn-warning">
    </dx-button>
    <br>
  </div>
</dx-popup>

<dx-popup
    title="Sucesso"
    [(visible)]="isPopupVisibleUpload" [maxHeight]="200" [maxWidth]="400">
    <div class="centralizado">
        <p class="msgSucesso">Salvo com sucesso!</p>
        <dx-button
        text="OK"
        (onClick)="fecharSucessoUpload()" class="btn btn-warning">
    </dx-button>
    <br>
  </div>
</dx-popup>

<dx-popup
    title="Erro"
    [(visible)]="isPopupErroVisible" [maxHeight]="200" [maxWidth]="500">
    <div class="centralizado">
        <p class="msgErro">{{msgErroValidacao}}</p>
        <br>
        <dx-button
        text="OK"
        (onClick)="fecharErro()">
    </dx-button>
  </div>
</dx-popup>

<dx-popup
    title="Arquivos anexos"
    [(visible)]="isPopupVisibleArquivosAnexos">
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="scheduler-border" *ngIf="!isReadOnly">
          <legend class="scheduler-border">Upload de arquivos</legend>
          <div class="control-group">                      
            <br>
            <table>
              <tr>
                <Td width="300"><dx-text-box name="filePath" value="{{filePath}}" readOnly="true"></dx-text-box></Td>
                <Td><label for="arquivo" *ngIf="!btnUploadNaoVisivel" class="btn btn-warning bottom-zero margin-left-10">Selecione o arquivo</label></Td>
                <Td>
                  <button class="btn btn-success margin-left-10" (click)="onUpload($event)" *ngIf="btnUploadNaoVisivel">Fazer upload</button>                                
                  <button class="btn btn-danger margin-left-10" (click)="onCancelUpload()" *ngIf="btnUploadNaoVisivel">Cancelar upload</button>
                </Td>
              </tr>
            </table>
            <input type="hidden" name="idItem" value="{{idItem}}">
            <input #myInput type="file" id="arquivo" style="display:none" (change)="fileProgress($event)" />
          </div>                    
        </fieldset>
        <Br>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <dx-data-grid [dataSource]="anexosItem"
                    showBorders="true"
                    [rowAlternationEnabled]="true"
                    [repaintChangesOnly]="true"
                    noDataText="Nehum registro">
          <dxo-pager [showPageSizeSelector]="true"
                  [allowedPageSizes]="[5, 10, 20]"></dxo-pager>
          <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-search-panel [visible]="true" placeholder="Busca..."></dxo-search-panel>
          <dxi-column cellTemplate="cellTemplate" [allowFiltering]="false" width="100" caption="" all></dxi-column>
          <div *dxTemplate="let dt of 'cellTemplate'">            
          <div style="white-space: nowrap;">
              <table width="24" align="center">
                  <tr>
                    <td><i class="fa fa-download button-link" (click)="download($event, dt)" title="Download"></i></td>
                  </tr>
                </table>
          </div>
          </div>
          <dxi-column dataField="nmAnexoItem" caption="Nome" allowSorting="true" [calculateCellValue]="descricaoNome"></dxi-column>
          </dx-data-grid>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <Br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <dx-button 
                id="button"
                text="Fechar" 
                (click)="abrirFecharAnexos()" class="btn btn-warning">
            </dx-button> 
        </div>
    </div>    
</dx-popup>

<dx-load-panel
    [closeOnOutsideClick]="true"
    [(visible)]="isLoadPanelVisible"
    message="Aguarde...">
</dx-load-panel>