<div [@routerTransition]>
    <app-page-header [heading]="'Lista de Requests'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <dx-button 
                id="button"
                text="Novo request" 
                class="btn btn-warning"
                (onClick)="novoRquest()">
            </dx-button>             
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
                <div class="card-body">
                  <dx-data-grid [dataSource]="requests"
                                height="600"
                                showBorders="true"
                                [rowAlternationEnabled]="true"
                                [repaintChangesOnly]="true"
                                (onCellPrepared)="onCellPrepared($event)"
                                noDataText="Nehum registro">
                    <dxo-pager [showPageSizeSelector]="true"
                               [allowedPageSizes]="[5, 10, 20]"></dxo-pager>
                    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-search-panel [visible]="true" placeholder="Busca..."></dxo-search-panel>
                    <dxi-column cellTemplate="cellTemplate" [allowFiltering]="false" width="150" dataField="flAtivo" caption="" all></dxi-column>
                    <div *dxTemplate="let dt of 'cellTemplate'">            
                      <div style="white-space: nowrap;">
                          <table width="110" align="center">
                              <tr>
                                <td><i class="fa fa-pencil button-link" (click)="editar($event, dt)" title="Editar"></i></td>
                                <td><i class="fa fa-trash button-link" (click)="deletar($event, dt)" title="Inativar"></i></td>
                                <td><i class="fa fa-undo button-link" (click)="ativar($event, dt)" title="Ativar"></i></td>
                                <td><i class="fa fa-list button-link" (click)="listarItens($event, dt)" title="Listar Itens"></i></td>
                              </tr>
                            </table>
                      </div>
                    </div>
                    <dxi-column width="70" dataField="idRequest" caption="Status" [calculateCellValue]="statusTexto"></dxi-column>                    
                    <dxi-column dataField="nmRequest" caption="Nome" allowSorting="true"></dxi-column>
                    <dxi-column dataField="cdRequest" caption="Cód. Request" allowSorting="true"></dxi-column>
                    <dxi-column dataField="cdDebito" caption="Cód. Débito" allowSorting="true"></dxi-column>
                    <dxi-column dataField="nmCliente" caption="Cliente" allowSorting="true"></dxi-column>
                  </dx-data-grid>
                </div>
              </div>      
            </div>    
        
          </div>
          <dx-popup
          title="Confirmação"
          [(visible)]="isPopupConfimarVisible" [maxHeight]="200" [maxWidth]="400">
          <div class="centralizado">
              <p class="msgErro">Tem certeza que deseja excluir a request?</p>
              <br>
              <dx-button
              text="Sim"
              (onClick)="confirmacaoOK()" class="btn btn-warning">
              </dx-button>
              &nbsp;&nbsp;
              <dx-button
              text="Não"
              (onClick)="confirmacaoCancelar()" class="btn btn-secondary">
              </dx-button>
              <br>
        </div>
      </dx-popup>
      <dx-popup
          title="Confirmação"
          [(visible)]="isPopupConfimarAtivarVisible" [maxHeight]="200" [maxWidth]="400">
          <div class="centralizado">
              <p class="msgErro">Tem certeza que deseja reativar a request?</p>
              <br>
              <dx-button
              text="Sim"
              (onClick)="confirmacaoAtivarOK()" class="btn btn-warning">
              </dx-button>
              &nbsp;&nbsp;
              <dx-button
              text="Não"
              (onClick)="confirmacaoAtivarCancelar()" class="btn btn-secondary">
              </dx-button>
              <br>
        </div>
      </dx-popup>

<dx-load-panel
    [closeOnOutsideClick]="true"
    [(visible)]="isLoadPanelVisible"
    message="Aguarde...">
</dx-load-panel>